header .upper-header {
  padding: 2px 0;
}

header .upper-header button,
header .upper-header a {
  color: white;
  font-size: 8px;
  font-weight: bold;
}

header .upper-header button {
  background-color: unset;
  border: 0;
  margin-left: 50px;
}

header nav .bottom-header {
  padding: 10px 0;
}

header nav .bottom-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .bottom-header .container img {
  width: 65px;
}

header nav .bottom-header .container ul {
  display: flex;
  margin-bottom: 0;
}

header nav .bottom-header .container ul li {
  margin-right: 20px;
  font-weight: 500;
  font-size: 15px;
}

header nav .bottom-header .container ul li .custom-dropdown i {
  color: #0d6efd;
}

header nav .bottom-header .container ul li a {
  color: gray;
}

header nav .bottom-header .container input {
  border: 0;
  border-bottom: 2px solid #0d6efd;
  width: 150px;
}

.jumbo {
  height: 350px;
  width: 100%;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position: center top;
  background-size: cover;
}

.comics-section {
  background-color: #2c2b2b;
}

.comics-section .container {
  position: relative;
}

.comics-section .container h4 {
  display: inline-block;
  background-color: #0d6efd;
  color: white;
  padding: 10px 15px;
  position: absolute;
  top: -25px;
  left: 0;
}

.comics-section .container .comics-container {
  padding: 50px 0;
}

.comics-section .container .comics-container .comics-card {
  margin-bottom: 30px;
}

.comics-section .container .comics-container .comics-card img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 10px;
}

.comics-section .container .comics-container .comics-card h6 {
  color: white;
  text-transform: uppercase;
}

.comics-section .container .comics-container button {
  background-color: #0d6efd;
  border: 0;
  color: white;
  padding: 5px 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50%;
  transform: translate(-50%);
}

.shop-section {
  background-color: #0d6efd;
  padding: 30px 0;
}

.shop-section .shop-menu-item a {
  display: flex;
  align-items: center;
  color: white;
}

.shop-section .shop-menu-item a img {
  width: 40px;
  height: 50px;
  margin-right: 20px;
}

.upper-footer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: cover;
  padding: 30px 0;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.upper-footer p {
  color: #acabab;
  font-size: 14px;
}

.upper-footer .col {
  flex-wrap: wrap;
}

.upper-footer .col .footer-bg-logo {
  position: absolute;
  width: 500px;
  height: 500px;
  top: -50px;
}

.upper-footer .col .footer-list {
  display: inline-block;
}

.upper-footer .col .footer-list h5 {
  color: white;
}

.upper-footer .col .footer-list a {
  color: #acabab;
  font-size: 13px;
}

.bottom-footer {
  background-color: #2f2f2f;
  padding: 20px 0;
}

.bottom-footer button {
  padding: 8px;
  border-color: #0d6efd;
  background-color: unset;
  color: white;
}

.bottom-footer .social-links strong,
.bottom-footer .social-links img {
  margin-right: 20px;
}

.bottom-footer .social-links img {
  width: 30px;
  height: 30px;
}

.bottom-footer .social-links strong {
  color: #0d6efd;
}

body a {
  text-decoration: none;
}

body ul {
  list-style-type: none;
  padding-left: 0;
}

