header{
  .upper-header{
    padding: 2px 0;

    button, a{
      color:white;
      font-size: 8px;
      font-weight: bold;
    }
    button{
      background-color: unset;
      border:0;
      margin-left: 50px;
    }
}

.bottom-header{
  padding: 10px 0;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
      img{
        width: 65px;
      }

      ul{
        display: flex;
        margin-bottom: 0;

        li{
          margin-right:20px;
          font-weight:500;
          font-size: 15px;

          .custom-dropdown{
            i{
              color:$color-primary;
            }
          }
          a{
            color:gray;
          }
        }
      }

      input{
        border:0;
        border-bottom: 2px solid $color-primary;
        width: 150px;
      
      }

    }
  }
}