.shop-section{
  background-color: $color-primary;
  padding:30px 0;

  .shop-menu-item{
    a{
      display: flex;
      align-items: center;
      color:white;
      img{
        width: 40px;
        height: 50px;
        margin-right: 20px;
      }
    }
  }
}